

body{
    background-color : #c7c4c2;
}

.frame{
    margin: 30px 150px;
    display: flex;
    flex-direction:column;
}

/*navigator*/

.navigator{
    display : flex;
    flex-direction: row;
    justify-content: space-between;
}

li{
    display: inline;
    align-self:center;
    margin:0;
    margin-left: 15px;
}

ul{
    margin:0;
}

.site-name{
    margin:0;
    font-family: 'Montserrat', sans-self;
    font-size: 24px;
    color:#ebbb9d;
}

.nav-menu{
    font-family: 'Montserrat', sans-self;
    font-weight: 400;
    font-size: 16px;
}

a{
    color:black;
    text-decoration: none;

}

a:hover{
    color:white;
    transition: 0.3s;
}

/*dashboard*/
.dashboard{
    display:flex;
    flex-direction: column;
    margin-top: 100px;
}

.Korea-Comment{
    font-family: 'Noto Sans KR',sans-serif;
    font-weight: 500;
    font-size: 50px;
}

.sample{
    background-color: greenyellow;
    -webkit-text-stroke: 1px black;

}

.sample:hover{
    background-color: transparent;
    color: white;
    transition: none;
}

.highlight {
    color: white;
    -webkit-text-stroke: 1px black;
}

.highlight:hover{
    background-color: rgb(161, 235, 213);
    transition :none; /* 트랜지션 효과 */
}

.type1:hover{
    background-color: rgb(149, 166, 243);
}

.type2:hover{
    background-color: orange;
}

.english-comment{
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 400;
    font-size: 15px;
    font-style: italic;

    letter-spacing: -0.5px;
}


















































